@page
@model RaceWebApplication.Pages.CreateParticipanteModel

@{
    ViewData["Title"] = "CreateParticipante";
}

<h1>CreateParticipante</h1>

<h4>Participante</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Participante.PrimerNombre" class="control-label"></label>
                <input asp-for="Participante.PrimerNombre" class="form-control" />
                <span asp-validation-for="Participante.PrimerNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participante.SegundoNombre" class="control-label"></label>
                <input asp-for="Participante.SegundoNombre" class="form-control" />
                <span asp-validation-for="Participante.SegundoNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participante.PrimerApellido" class="control-label"></label>
                <input asp-for="Participante.PrimerApellido" class="form-control" />
                <span asp-validation-for="Participante.PrimerApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participante.SegundoApellido" class="control-label"></label>
                <input asp-for="Participante.SegundoApellido" class="form-control" />
                <span asp-validation-for="Participante.SegundoApellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participante.Sexo" class="control-label"></label>
                <select asp-for="Participante.Sexo" class="form-control"></select>
                <span asp-validation-for="Participante.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participante.FechaNacimiento" class="control-label"></label>
                <input asp-for="Participante.FechaNacimiento" class="form-control" />
                <span asp-validation-for="Participante.FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Participante.FechaHoraInscripcion" class="control-label"></label>
                <input asp-for="Participante.FechaHoraInscripcion" class="form-control" />
                <span asp-validation-for="Participante.FechaHoraInscripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
